:root {
    --rswiki-tan: #caba9a;
    --osrs-chat: #3d36dd;
}


.end-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--rswiki-tan);
    color: var(--osrs-chat);
    width: 25%;
    margin: 4vh auto;
    padding: 4vh 4vw;
    gap: 2px;
    border: 3px solid black;
    border-radius: 8px;

    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.win-message {
    margin: 0;
}

.correct-answer {
    display: flex;
}

.correct-image {
    width: 6vw;
    height: 6vw;
    object-fit: contain;
}

.correct-answer {
    align-items: center;
    gap: 1vw;
    width: 10vw;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.scoreline {
    margin: 0;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .end-panel {
        width: 75vw;
    }
    .correct-image {
        width: 25vw;
        height: 25vw;
    }
}