.guess-container {
    width: 80%;
    margin: 0 auto;
}

.guess-row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.row-header {
    width: 100px;
    height: 75px;
    border: 3px solid #3d3428;
    border-bottom: 3px solid #e6e51c;
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guess-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1vh;
}

.boss-attribute {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #caba9a;
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
    font-size: 20px;
    transform: rotateX(90deg);
}

#correct {
    background-color: darkgreen;
}

#incorrect {
    background-color: #8b0000;
}

#almost {
    background-color: darkorange;
}

#higher,
#lower {
    background-color: #8b0000;
    color: #e6e51c;
    background-repeat: no-repeat;
    background-size: cover;
}

#higher {
    background-image: url(/src/assets/arrow-up.svg);
}

#lower {
    background-image: url(/src/assets/arrow-down.svg);
}

.guess-row img:nth-child(1) { animation-delay: 0s}
.guess-row div:nth-child(2) { animation-delay: .5s}
.guess-row div:nth-child(3) { animation-delay: 1s}
.guess-row div:nth-child(4) { animation-delay: 1.5s}
.guess-row div:nth-child(5) { animation-delay: 2s}
.guess-row div:nth-child(6) { animation-delay: 2.5s}
.guess-row div:nth-child(7) { animation-delay: 3s}
.guess-row div:nth-child(8) { animation-delay: 3.5s}

@keyframes flip {
    0% { transform: rotateX(90deg)}
    100%{ transform: rotateX(0deg)}
}

.animate {
    animation: flip .25s forwards;
}

@media only screen and (max-width: 600px) {
    .guess-container {
        width: 90vw;
    }
    .row-header {
        width: 36px;
        height: 20px;
        font-size: 8px;
    }

    .boss-attribute {
        width: 36px;
        height: 36px;
        font-size: 10px;
        word-wrap: break-word;
        border: 1px solid black;
    }
}