.guess-row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.row-header {
    width: 6vw;
    height: 3vw;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guess-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1vh;
}

.boss-attribute {
    width: 6vw;
    height: 6vw;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
    font-size: 16px;
    transform: rotateX(90deg);
}

#correct {
    background-color: green;
}

#incorrect {
    background-color: red;
}

#almost {
    background-color: orange;
}

#higher,
#lower {
    background-color: red;
    color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
}

#higher {
    background-image: url(/src/assets/arrow-up.svg);
}

#lower {
    background-image: url(/src/assets/arrow-down.svg);
}

.guess-row img:nth-child(1) { animation-delay: 0s}
.guess-row div:nth-child(2) { animation-delay: .5s}
.guess-row div:nth-child(3) { animation-delay: 1s}
.guess-row div:nth-child(4) { animation-delay: 1.5s}
.guess-row div:nth-child(5) { animation-delay: 2s}
.guess-row div:nth-child(6) { animation-delay: 2.5s}
.guess-row div:nth-child(7) { animation-delay: 3s}
.guess-row div:nth-child(8) { animation-delay: 3.5s}

@keyframes flip {
    0% { transform: rotateX(90deg)}
    100%{ transform: rotateX(0deg)}
}

.animate {
    animation: flip .25s forwards;
}