:root {
    --rswiki-tan: #caba9a;
    --osrs-chat: #3d36dd;
}

.nav {
    background-color: var(--rswiki-tan);
    /* padding: 2px 2vw; */
    border-bottom: 1px solid black;
    box-shadow: 0 5px 4px #0000001a;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 94%;
    padding: 0 3%;
    z-index: 3;
    height: 3vh;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav-right > a,
.nav-icon {
    height: 24px;
}

.nav-icon:hover {
    cursor: pointer;
}