:root {
    --rswiki-tan: #caba9a;
    --osrs-chat: #3d36dd;
}

.key-modal {
    background-color: #caba9a;
    width: fit-content;
    padding: 1em 2em 2em 2em;
    border: 3px solid black;
    border-radius: 8px;
    margin: 4vh auto; 

    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.key-top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 1em;
}

.key-top > h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

/* .key-top > button {
    grid-column-start: 3;
    display: flex;
    justify-self: end;
} */

.key-top > h3 {
    text-align: center;
    color: var(--osrs-chat);
    margin: 0;
}

.close-key-button {
    grid-column-start: 3;
    display: flex;
    justify-self: end;
    background-color: #b8a37c;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid black;
    padding: 4px 8px;
    aspect-ratio: 1 / 1;
}

.close-key-button:hover {
    /* box-shadow: inset 0px 0px 5px black; */
    filter: brightness(90%)
}

.key-container {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.key {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #caba9a;
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: contain;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .key-modal {
        width: 75vw;
        padding: 1em 4vw 2em 4vw;
    }

    .key {
        width: 36px;
        height: 36px;
        font-size: 10px;
    }
}